{% extends "main_base.html" %}

{% block title %} <title>New Task</title> {% endblock title%}

{% block body %} {% load crispy_forms_tags %}
<div class="content-section d-flex justify-content-center">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center border-bottom mb-4">New Task</legend>
            {{form|crispy}}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info w-100" type="submit">Add</button>
          </div>
    </form>
</div>

{% endblock body %}
